<?php
$CONFIG = array (
  'instanceid' => '{{ ansible_host }}',
  'passwordsalt' => 'your_unique_salt',
  'secret' => 'your_unique_secret',
  'trusted_domains' =>
  array (
    0 => '{{ ansible_host }}',
  ),
  'dbtype' => 'mysql',
  'version' => '{{ owncloud_version }}',
  'dbname' => '{{ owncloud_db }}',
  'dbhost' => '{{ groups['serversdb'][0] }}',  # Utilisation de la première adresse IP dans le groupe serversdb
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ owncloud_user }}',
  'dbpassword' => '{{ Passw0rd }}',
  'installed' => false,
  'mail_smtpmode' => 'smtp',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_from_address' => 'admin',
  'mail_domain' => 'your_domain.com',
  'mail_smtphost' => 'localhost',
  'mail_smtpport' => '25',
  'maintenance' => false,
  'theme' => '',
  'loglevel' => 2,
);
